{
  "version": 1,
  "secrets": [
    {
      "repo_path": "secrets/myproject.env",
      "real_path": "${HOME}/code/myproject/.env"
    },
    {
      "repo_path": "secrets/anotherproject.env.local",
      "real_path": "${HOME}/code/anotherproject/.env.local"
    }
  ]
}
